body {
    font-family: Arial, sans-serif;
    background-color: #CED46A;
    margin: 0;
    padding: 0;
}

.Header {
    background-color: #07553B; 
    color: #fff;
    padding: 20px;
}

.Header h1 a {
    color: #fff;
    text-decoration: none;
}

.Header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.Header nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

.register-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-form label {
    display: block;
    margin-bottom: 10px;
}

.register-form input[type="text"],
.register-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.register-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-form input[type="submit"]:hover {
    background-color: #45a049;
}
            
