@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  position: relative;
  top: 0;
  opacity: 0.8;
  backdrop-filter: blur(30px);
  background-color: #07553B;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #CED46A;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
}

div{
  height: auto;
}
#logo{
  font-size: 40px;
  font-weight: bold;
  width: auto;
  text-align: center;  
  color: #CED46A;
}

html {
  height: 100%;
  line-height: 1.6;
  padding: 0px;
  margin: 0;
}
body {
  height: 100%;
}
section {
  height: 100%;
}
article {
  display: block;
  height: 100%;
  width: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#07553B; 
}
