<!DOCTYPE html>
{% load static %}
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>중고 책 교환 사이트</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="Header">
      <h1><a href=" ">BitterSweet</a></h1>
      <nav>
        <ul>
          <li><a>등록</a></li>
          <li><a>내 정보</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <article class="art1">
        <div class="logowrap">
          <div id="logo" class="logo_default">
            <div> 책 먹는 </div>
            <div> 물고기 </div>
          </div>
        </div>
        {% include "book/searchbar.html" %}
      </article>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 HUFS HACKATON. All rights reserved.</p>
  </footer>

  <script src="script.js"></script>
</html>
