<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Email Registration</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <header class="Header">
        <h1><a href="{% url 'index' %}">BitterSweet</a></h1>
        <nav>
          <ul>
            <li><a href="#" onclick="window.location.href='/register/'">나눔</a></li>
            <li><a href="#" onclick="window.location.href='/signup/'">등록</a></li>
            <li><a>내 정보</a></li>
          </ul>
        </nav>
    </header>

    <div class="register-form">
        <form action="/register" method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="Register">
        </form>

        {% if message %}
            {% if message_type == "success" %}
                <p class="success">{{ message }}</p>
                {% else %}
                    <p class="error">{{ message }}</p>
                {% endif %}
            {% endif %}
        </div>